.container {
  z-index: 10;
  position: relative;
  background-color: white;

  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(0px 4px 8px hsla(0, 0%, 0%, 0.1));

  padding-top: 64px;
  padding-bottom: 64px;

  @include tablet {
    padding-top: 0;
    padding-bottom: 0;
  }

  &::before {
    display: none;
    z-index: 10;
    content: "";
    position: absolute;
    height: 100px;
    top: -100px + 1px;
    right: 0;
    left: 0;
    background-color: white;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);

    @include tablet {
      display: block;
    }
  }

  &::after {
    display: none;
    z-index: 10;
    content: "";
    position: absolute;
    height: 100px;
    bottom: -100px + 1px;
    right: 0;
    left: 0;
    background-color: white;
    clip-path: polygon(0 0, 0% 100%, 100% 0);

    @include tablet {
      display: block;
    }
  }
}

.subContainer {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  max-width: 1200px;
  padding: 16px;

  @include tablet {
    padding: 64px;
  }

  @include desktop {
    padding: 64px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.title {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  position: relative;

  margin-bottom: 32px;
  font-weight: 400;
  color: black;
  opacity: 0.8;
  font-size: 49px;

  @include tablet {
    margin-bottom: 32px + 35px;
  }
}

.underlineImage {
  position: absolute;
  top: 100%;

  display: none;

  @include tablet {
    display: block;
    height: 35px;
  }
}

.bodyText {
  max-width: 50ch;
  font-size: 18px;
  color: black;
  opacity: 0.8;
}

.floatingThingContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  right: 64px;
  display: none;

  @include tablet {
    right: 64px;
  }

  @include desktop {
    display: flex;
  }
}
