.container {
  display: flex;

  margin-bottom: 0px;

  @include tablet {
    margin-bottom: calc(80px - 20vw);
  }

  @include desktop {
    margin-bottom: calc(80px - 20vw);
  }
}

.subContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  margin-left: auto;
  margin-right: auto;

  display: flex;
  max-width: 1200px;
  padding: 16px;
  padding-top: 32px;

  @include tablet {
    padding: 64px;
    padding-top: 48px;
  }

  @include desktop {
    padding: 64px;
    padding-top: 64px;
  }
}

.backgroundImage {
  position: relative;
  width: 100%;

  top: 0px;

  @include tablet {
    top: calc(80px - 20vw);
  }

  @include desktop {
    top: calc(80px - 20vw);
  }
}

.title {
  margin-left: auto;

  color: white;
  font-weight: 300;
  font-size: 30px;

  @include tablet {
    font-size: 50px;
  }

  @include desktop {
    font-size: 70px;
  }
}
